*{  
  margin:0;
  padding:0;
}

body{
  background-color:#404040;
  font-family:sans-serif;
  color : #49697c;   
}

.a{
  display:block;
  color:#F6F6E8 ; 
   margin-top:40px;
  text-align:center;
}

.route_module{
	top : 100px;
  position:relative;
  width:79%;
  height:100%;
  margin-left:20%;
  background: transparent; 
  color : #222930;
}


.route_table {
  width:100%;	
  position: relative;
  margin-right: auto;
	}

.route_table table{
	width:100%;
	padding : 10px;
	border-collapse : collapse ;
}

.route_table tr:nth-child(odd) { 
	background-color: #586f7e;
	 }

.route_table tr:nth-child(even) { 
	background-color:#637c8d;
	 }

.route_table td {
	text-align:center;
	font-size:14px;
	font-family:Trebuchet MS;
	color:#f6f6e8;
	padding : 10px;
	}

.route_table tr:first-child td{
	
	text-align:center;
	font-size:18px;
	font-family:Trebuchet MS;
	color:#f8f8f8;
	background-color : #404040 ;
	
}