left_side{
	background-color : transparent ;
	width : 19%;
	float : left ;
	top : 100px;	
	height : 100%;
	bottom : 0;   
	height : 100% ;
	border-left : yellow 1px solid ;
	position : fixed;
}

h1{
	font-size : 15x;
	font-family : sans-serif;
	color : #eae9f5 ;
	font-weight : bold ;
	text-align : center ;
}

textarea{
	disabled : true ;
	border:#cccfe1 1px dotted;
	border-radius : 4px;
	height : 100px;
	background-color : transparent ;
	font-family : sans-serif ;
	width : 90%;
	margin-left : 5%;
	scrollbar-face-color: transparent; 
	scrollbar-track-color: transparent; 
	scrollbar-base-color: transparent;
	color : #cccfe1 ;
	margin-bottom : 10px;
	padding : 5px ;
	padding-left : 8px;
}


#contact{
	border:#cccfe1 1px dotted;
	border-radius : 8px;	
	width : 92%;
	margin-left : 4% ;
	margin-bottom : 10px;
	padding : 5px ;
	padding-left : 8px;	
	text-align : center ;
	color : #cccfe1 ;
}