left_side{
background: #fcfcfc;
border-right : 2px solid #D43F3F ;
border-top : 2px solid #D43F3F ;
	width : 15%;
	float : left ;
	top : 60px;	
	height : 100%;
	bottom : 0;   
	position : fixed;
}

h1{
	font-size : 150%;
	font-family : Arial;
	color : #404040;
	text-align : center ;
}

textarea{
	disabled : true ;
	border: none ;
	height : 100px;
	background-color : transparent ;
	font-family : sans-serif ;
	width : 90%;
	margin-left : 5%;
	color :#1f1f1f ;
	margin-bottom : 10px;
	padding : 5px ;
	padding-left : 8px;
	resize : vertical ;
}


#contact{
	width : 82%;
	margin-left : 4% ;
	margin-bottom : 10px;
	padding : 5px ;
	padding-left : 8px;	
	text-align : center ;
	color : #1f1f1f ;
}