left_side{
	background-color : transparent ;
	width : 19%;
	float : left ;
	top : 93px;	
	height : 100%;
	bottom : 0;   
	border-right : #a3b9c9 1px solid ;
	border-top-right-radius: 10%;
	position : fixed;
}

h1{
	font-size : 15x;
	font-family : Arial;
	color : #222930;
	text-align : center ;
}

textarea{
	disabled : true ;
	border:#222930 1px dotted;
	border-radius : 4px;
	height : 100px;
	background-color : transparent ;
	font-family : sans-serif ;
	width : 80%;
	margin-left : 5%;
	color :#222930 ;
	margin-bottom : 10px;
	padding : 5px ;
	padding-left : 8px;
	resize : vertical ;
}


#contact{
	border:#222930 1px dotted;
	border-radius : 8px;	
	width : 82%;
	margin-left : 4% ;
	margin-bottom : 10px;
	padding : 5px ;
	padding-left : 8px;	
	text-align : center ;
	color : #222930 ;
}