header{
  	width: 100%; 
	background : #fcfcfc;
	border-bottom : 2px solid #D43F3F ;
	border-radius : 20% 20%;
	padding : 10px;
}

  header ul {	
    padding: 0;
	top : 0 ;
	margin-left : 32%;
	padding-left : 5px;
  }

    header ul li {   
      display: inline-block;
	  top : 0 ;		
	  
    }
      
    
      header> ul > li > a {
   	  	color : #333333;
        padding: 0 24px;
        text-decoration: none;
        position : top ;
        transition : 1s ;
      }

        header > ul > li:hover {
        
 	
		border-radius : 25%;

          
        }

        header > ul > li:hover > a {
   	  	color : #D43F3F;
       }
    