body {
	background-color: #404040;
	color: #F6F6E8;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
    width : 100% ;
    margin-top : 0;
	margin-left : 0 ;
}

.button{
  border:#6A9A1F 1px solid;
  padding:8px;
  background: #6A9A1F;
  margin-top : 10px;
  margin-left : 40%;
  margin-bottom : 5px;
  color:#F6F6E8;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
}

.button:hover{
  background:#7bb524;
}