body {
	background-color: #404040;
	color: #222;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
    width : 100% ;
    margin-top : 0;
	margin-left : 0 ;
}

.button{
  height:50px;
  width:30%;
  border:#80b438 1px solid;
  box-sizing:border-box;
  padding:5px;
  margin-bottom:3 0px;
  margin-left : 5%;
  background: #6A9A1F;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
}

.button:hover{
  background:#80b438;
}