body {
	background-color: white;
	color: #404040;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
    width : 100% ;
    margin-top : 0;
	margin-left : 0 ;
}

.button{
	background: #00ACE9;
	color: #404040;
	margin-left : 40%;
	margin-top: 20px;
	padding: 12px 20px;
    border : 1px solid #595a7b;
    text-shadow : -0.5px -0.5px 1px #dde4ec ;
    border-radius : 5px;	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,240,240,1) 82%, rgba(242,240,240,1) 82%, rgba(228,222,222,1) 82%, rgba(228,222,222,1) 82%, rgba(247,245,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(82%,rgba(242,240,240,1)), color-stop(82%,rgba(242,240,240,1)), color-stop(82%,rgba(228,222,222,1)), color-stop(82%,rgba(228,222,222,1)), color-stop(100%,rgba(247,245,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,240,240,1) 82%,rgba(242,240,240,1) 82%,rgba(228,222,222,1) 82%,rgba(228,222,222,1) 82%,rgba(247,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,240,240,1) 82%,rgba(242,240,240,1) 82%,rgba(228,222,222,1) 82%,rgba(228,222,222,1) 82%,rgba(247,245,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,240,240,1) 82%,rgba(242,240,240,1) 82%,rgba(228,222,222,1) 82%,rgba(228,222,222,1) 82%,rgba(247,245,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,240,240,1) 82%,rgba(242,240,240,1) 82%,rgba(228,222,222,1) 82%,rgba(228,222,222,1) 82%,rgba(247,245,245,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f5f5',GradientType=0 ); /* IE6-9 */
	transition : 1s;
}

.button:hover{
  	    border : 1px solid #755152 ;

}