*{  
  margin:0;
  padding:0;
}

body{
  background-color:transparent;
  font-family:sans-serif;
  color : #F6F6E8; 
}

.a{
  display:block;
  color:#F6F6E8;  
  text-decoration:none;
  font-weight:bold;
  margin-top:40px;
  text-align:center;
}

.module{
  position:relative;
  top:0%;    
  height:100%;
  width:80%;
  border-left:rgba(255,255,255,1) 1px solid;
  margin-left:20%;
  margin-right:0;
  background: #404040;
  color : #F6F6E8;
  background-color:transparent;
}

.module ul{
  list-style-type:none;
}

.tab{
  float:left;
  height:60px;
  width:25%;
  padding-top:20px;
  box-sizing:border-box;
  background:#404040;  
  text-align:center;
  cursor:pointer;
  transition:background .1s;
  color : #F6F6E8;
}


.sleepyTab:hover{  
  background-color:transparent;  
}

.activeTab{
  background-color:transparent;  
  color : #F6F6E8;
  /*border-bottom: rgba(255,255,255,1) 1px dotted ; */
  border-right: rgba(255,255,255,1) 1px dotted ;
  border-left: rgba(255,255,255,1) 1px dotted ;
}

.sleepyTab{
	border-bottom: rgba(255,255,255,1) 1px solid ; 
}

.tab .icon{
height:24px;
  width:24px;
}

.activeTab .icon{
  height:24px;
  width:24px;
  opacity:1;
}

.sleepyTab .icon{
  height:24px;
  width:24px;
  opacity:1; 
}

.form{
  float:left;
  width:100%;
  background-color:transparent;
  box-sizing:border-box;
  padding:2%;
  color : #F6F6E8;
}

.textbox{
  height:30px;
  width:100px;
  border:#cccfe1 1px solid;
  box-sizing:border-box;
  border-radius : 3px ;
  padding:5px;
  margin-bottom:30px;
  margin-left:10%;
  background-color : transparent ;
  color : #dbdce6 ;
}

.firstnamebox{
  height:30px;
  width:100px;
  border:#cccfe1 1px solid;
  box-sizing:border-box;
  border-radius : 3px ;
  padding:5px;
  margin-bottom:30px;
  margin-left:10px;
  background-color : transparent ;
  color : #dbdce6 ;
}


.longbox{
  background-color : transparent ;
  color : #dbdce6 ;
  height:30px;
  width:200px;
  border:#cccfe1 1px solid;
  box-sizing:border-box;
  border-radius : 3px ;
  padding:5px;
  margin-bottom:30px;
  margin-left:10%;
}

.codebox{
  background-color : transparent ;
  color : #dbdce6 ;
  height:30px;
  width:75px;
  border:#cccfe1 1px solid;
  box-sizing:border-box;
  border-radius : 3px ;
  padding:5px;
  margin-bottom:30px;
  margin-left:20px;
}

.sourcecodebox{
  background-color : transparent ;
  color : #dbdce6 ;
  height:20px;
  width:50px;
  border:#cccfe1 1px solid;
  box-sizing:border-box;
  border-radius : 3px ;
  text-align : center ;
}

.phonebox{
  background-color : transparent ;
  color : #dbdce6 ;
  height:30px;
  width:110px;
  border:#cccfe1 1px solid;
  box-sizing:border-box;
  border-radius : 3px ;
  padding:5px;
  margin-bottom:30px;
  margin-left:20px;
}

.citybox{
  background-color : transparent ;
  color : #dbdce6 ;
  height:30px;
  width:120px;
  border:#cccfe1 1px solid;
  box-sizing:border-box;
  border-radius : 3px ;
  padding:5px;
  margin-bottom:30px;
  margin-left:20px;
}

.textbox:focus{
   border:#e7e8f1 1px solid;
   color:#d9dcf4;
   background-color : #404040;
}

.hourbox{
  background-color : transparent ;
  color : #dbdce6 ;
  height:20px;
  width:20px;
  border:#cccfe1 1px solid;
  box-sizing:border-box;
  border-radius : 3px ;
  padding:2px;
  margin-bottom:30px;
  margin-left:2px;
  margin-right:2px;
}

.hourbox:focus{
   border:#e7e8f1 1px solid;
   color:#d9dcf4;
   background-color : #404040;
}

.firstnamebox:focus{
   border:#e7e8f1 1px solid;
   color:#d9dcf4;
   background-color : #404040;
}

.sourcecodebox:focus{
   margin : auto;
   border:#e7e8f1 1px solid;
   color:#d9dcf4;
   background-color : #404040;
}

.longbox:focus{
   border:#e7e8f1 1px solid;
   color:#d9dcf4;
   background-color : #404040;
}

.citybox:focus{
   border:#e7e8f1 1px solid;
   color:#d9dcf4;
   background-color : #404040;
}

.phonebox:focus{
   border:#e7e8f1 1px solid;
   color:#d9dcf4;
   background-color : #404040;
}

.codebox:focus{
   border:#e7e8f1 1px solid;
   color:#d9dcf4;
   background-color : #404040;
}

select{
	background: transparent;
	border : none ;
	border-radius : 2px;	
  	border: 1px solid #AAA;
  	color: #F6F6E8;
  	overflow: hidden;
    width: 80px;
    text-align : center ;
}

select:hover{
	background: #404040;
	border-radius : 2px;	
  	border: 1px solid #AAA;
}

table
{
    border-collapse: collapse;
}
td {
	padding : 5px;
    vertical-align: middle;
    horizontal-align: middle;
   	border: 1px solid #cccfe1;
   	border-radius : 3px;   
}
