*{  
  margin:0;
  padding:0;
}

body{
  background-color:#404040;
  font-family:sans-serif;
  color : #49697c;   
}

.a{
  display:block;
  color:#F6F6E8 ; 
   margin-top:40px;
  text-align:center;
}

.table:table-hover{
	top : 100px;
  position:relative;
  width:79%;
  height:100%;
  margin-left:20%;
  background: yellow; 
  color : #222930;
}


.textbox,
select{
  height:30px;
  border:#60738a 1px solid;
  box-sizing:border-box;
  border-radius : 3px ;
  padding:5px;
  margin-bottom:30px;
  background-color : #fcfcfc ;
  color :#404040 ;
}